<html layout:decorate="~{layout}">
		<div layout:fragment="content">
			<link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
			
			<form th:action="@{/post}" method="post" enctype="multipart/form-data">
				<div class="uploadArea" id="uploadArea">
						<div class="addText">사진을 추가하세요.</div>
						<input type="file" id="fileInput" name="files" accept="image/jpeg, image/png, image/gif" style="display:none;" multiple/>
				</div>
				
				<div class="previewArea" id="previewArea" style="display: none;">
					<div class="imageBlock" id="imageBlock"></div>
					<div class="title-group">
						<p class="form-label">제목</p>
						<input class="form-input title-input" name="title" type="text" />
					</div>
					<div class="calendar-group">
						<p class="form-label">날짜</p>
						<input class="form-input title-input entryDate" name="entryDate" id="entryDate" type="date" />
					</div>
					<div class="context-group">
						<p class="form-label">내용</p>
						<textarea class="form-input title-input" name="text"> </textarea>
					</div>
					<div class="submitBtn">
						<button type="submit">제출</button>
					</div>
				</div>
			</form>
		</div>
		
		<script layout:fragment="script" type='text/javascript' src="/js/entry/createEntry.js"></script>
</html>