<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<link rel="stylesheet" type="text/css" th:href="@{/css/auth/findPassword.css}">
		
		<form id="findPasswordForm">
			<label for="email">회원가입 시, 입력했던 이메일을 작성해주세요.</label>
			<input type="email" id="email" name="email" required>
			
			<input type="submit" vlaue="비밀번호 찾기" class="submitBtn">
		</form>
		
		<div id="messageBox"></div>
	</div>
	
	<script>
		document.getElementById("findPasswordForm").addEventListener("submit", async function(e) {
			
		});
	</script>
</html>
