<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<link rel="stylesheet" type="text/css" th:href="@{/css/auth/findPassword.css}">

	<div>
		<form id="findPasswordForm">
			<label for="email">회원가입 시, 입력했던 이메일을 작성해주세요.</label>
			<input type="email" id="email" name="email">

			<input type="submit" value="비밀번호 찾기" class="submitBtn">
		</form>

		<div id="messageBox">메일을 보냈습니다. 메일이 오지 않았을 경우, 스팸메일함을 확인하거나 정확한 이메일을 입력하고 다시 시도해주세요.</div>
	</div>

	<script layout:fragment="script" type="text/javascript" src="/js/auth/findPassword.js"></script>
</div>
</html>