<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<link rel="stylesheet" type="text/css" th:href="@{/css/auth/findPassword.css}">
		<div>
			<form th:action=@{/auth/resetPassword} th:object="${resetPasswordForm}" method="post" id="resetPasswordForm">
				
				<label for="password1">비밀번호를 입력해주세요.</label>
				<input type="password" th:field="*{password1}">
				
				<label for="password2">비밀번호를 한번 더 입력해주세요.</label>
				<input type="password" th:field="*{password2}">
				
				<br>
				
				<input type="submit" value="가입">
				
			</form>
		</div>
	</div>
	<script layout:fragment="script" type="text/javascript" src="/js/auth/resetPassword.js"></script>
</html>