<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
		<br/>
		<a sec:authorize="isAnonymous()" th:href="@{/member/signup}">회원가입</a>
		
		<form sec:authorize="isAuthenticated" th:action="@{/auth/logout}" method="post">
			<input type="submit" value="로그아웃">
		</form>

		<script th:inline="javascript">
			const successMessage = /*[[${successMessage}]]*/ null;
			
			console.log(successMessage);
			
			if (successMessage) {
				alert(successMessage);
			}
		</script>
	</div>
	

</html>