<html layout:decorate="~{layout}">
		<div layout:fragment="content">
			<link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
			
			<form enctype="multipart/form-data">
				<div class="uploadArea" id="uploadArea">
						<div class="addText">사진을 추가하세요.</div>
						<input type="file" id="fileInput" name="fileInput" accept="image/jpeg, image/png, image/gif" style="display:none;" multiple/>
				</div>
				
				<div class="previewArea" id="previewArea" style="display: none;">
					<div class="imageBlock" id="imageBlock"></div>
					<div class="titleInput"></div>
					<div class="submitBtn"></div>
				</div>
			</form>
		</div>
		
		<script layout:fragment="script" type='text/javascript' src="js/post.js"></script>
</html>