<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<link rel="stylesheet" type="text/css" th:href="@{/css/member/login.css}"></link>
		<div th:if="${param.error} != null">
			아이디 혹은 비밀번호를 입력해주세요.
		</div>
		<form th:action="@{/member/login}" method="post" id="loginForm">
			<label for="email">이메일</label>
			<input type="email" name="email">
			<label for="password">비밀번호</label>
			<input type="password" name="password">
			
			<br>
			<input type="submit" class="submitBtn" value="가입">
		</form>
		
		<a th:href="@{/}">비밀번호 찾기</a>
	</div>
	<script layout:fragment="script" type='text/javascript' src="/js/member/login.js"></script>
</html>