<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<link rel="stylesheet" type="text/css" th:href="@{/css/member/signup.css}"></link>
		<form th:action="@{/member/signup}" method="post" id="signupForm">
			<label for="email">이메일</label>
			<input type="email" name="email" id="email">
			<label for="password1">비밀번호</label>
			<input type="password" name="password1" id="password1">
			<label for="password2">비밀번호 확인</label>
			<input type="password" name="password2" id="password2">
			<label for="nickname">닉네임</label>
			<input type="text" name="nickname" id="nickname">
			<br>
			<input type="submit" class="submitBtn" value="가입">
		</form>
		
		
	</div>
	<script layout:fragment="script" type='text/javascript' src="/js/member/signup.js"></script>
</html>